{
  "extends": ["standard"],
  "parser": "babel-eslint",
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", "always"]
  },
  "env": {
    "jest": true
  }
}